 
# CORE
 
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

 
# MACHINE LEARNING
 
scikit-learn==1.4.2
joblib==1.4.2

 
# DEEP LEARNING
 
tensorflow==2.16.1

 
# NLP
 
nltk==3.9.1

 
# IMAGE PROCESSING
 
opencv-python==4.9.0.80
Pillow==10.3.0

 
# STREAMLIT UI
 
streamlit==1.32.2
streamlit-option-menu==0.3.12

 
# DATA FILE HANDLING
 
openpyxl==3.1.2
xlrd==2.0.1

 
# UTILITIES
 
requests==2.31.0
python-multipart==0.0.9

 
# CRITICAL FIX (DO NOT REMOVE)
 
protobuf==3.20.3
